@use '../styles/variables' as *;

.transaction-table {
  &__row {
    width: 100%;
    display: flex;
    padding: 4px 0;
  }
  
  &__header {
    font-size: 18px;
    width: 25%;
    text-align: left;
  }
  
  &__data {
    width: 25%;
    text-align: left;
  }
}

.transaction-table-header-row {
  border-bottom: 3px dotted $color-background-secondary;
}
